//main:../style.less

.flex(@direction: row; @wrap: wrap; @justify: space-between) {
    display        : -webkit-box;
    display        : flex;
    flex-wrap      : @wrap;
    justify-content: @justify;
    align-items    : center;
    flex-direction: @direction;
}

.flexElement(@margine-lr: 15px) {
    margin: 0 @margine-lr;
}

.flexContainer(@-margine-lr) {
    margin: 0 @-margine-lr;
    align-items    : stretch;
}

.flexGridElement(@margine-lr: 15px; @grid: 1) {
    margin: 0 @margine-lr;
    width: calc((100% / @grid) - (@margine-lr * 2));
}