//main:../style.less

// Colors

@white: #fff;
@light: #efefef;

@light-grey: #dedede;
@grey      : #707070;

@grey-exl-vio : #8D8D8E;
@grey-l-vio   : #8C8C8D;
@grey-vio     : #6A696B;
@grey-vio-op30: fade(@grey-vio, 30);
@modal-mask: #666682;

@black     : #2B2A2C;
@black-op15: fade(@black, 15);
@black-op30: fade(@black, 30);
@black-op70: fade(@black, 70);

@black-shadow: #000000;