 // compress: true, sourceMap: true


 @import "general.css";
 @import "normalize.css";

 @import "less/fonts.less";
 @import "less/vars.less";

 @import "less/blocks/btn.less";
 @import "less/blocks/header_.less";
 @import "less/blocks/intro.less";
 @import "less/blocks/works.less";
 @import "less/blocks/about.less";
 @import "less/blocks/testimonials.less";
 @import "less/blocks/readme.less";
 @import "less/blocks/footer.less";

 @import "less/blocks/modal_windows/modal_mask.less";
 @import "less/blocks/modal_windows/modal_window.less";
 @import "less/blocks/modal_windows/modal_projects.less";
 @import "less/blocks/modal_windows/modal_resume.less";
 @import "less/blocks/modal_windows/modal_hire.less";
 @import "less/blocks/modal_windows/modal_contacts.less";
 
 @import "less/mixins.less";
 @import "less/flexGrid.less";



 body {
     max-width             : 1440px;
     margin                : 0 auto;
     -webkit-font-smoothing: antialiased;
     background-color      : @white;
 }

 .container {
    max-width : 1200px;
    margin    : 0 auto;
    padding   : 0 15px;
    text-align: center;
}

 /* SCROLLBAR STYLES */

 ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    margin          : 10px;
    background-color:@light-grey;
    border-radius   : 2px;
}

::-webkit-scrollbar-thumb {
    background-color: @modal-mask;
    border-radius   : 2px;
}

/*PRINT RESUME*/

.hr{
    width: 500px;
    height: 1px;

    margin: 0 auto;

    background: @grey-vio;
}